[2015-09-21 16:17] ascheman opened #1 "JavaLand logo should have link to JavaLand home page"
Cf. [JavaLand logo should have link to JavaLand home page](https://github.com/dukecon/dukecon/issues/11)

[2015-09-22 10:44] ascheman opened #2 "Impressum: Javaland"
Please take over the current Impressum from official Javaland site: https://www.javaland.eu/impressum-kontakt/impressum/.

I suspect there will be further requests to take over the complete Javaland footer (with contact form etc.). So we should probably prepare for further alignments or even direct take over of the complete footer with links to the main site pages?

[2015-09-22 17:32] steffchep commented on #1
Ich gehe mal davon aus dass der Link http://www.javaland.eu sein soll ;)

[2015-09-22 17:34] #1 closed

[2015-09-22 17:38] steffchep commented on #2
with #4 fixed we have the means to copy their footer. But the space might be better used to add a finger-friendly menu (for smartphone users)

[2015-09-22 17:46] steffchep commented on #2
imprint copied; let's create a new ticket for the footer if it comes up!

[2015-09-22 17:46] #2 closed

[2015-09-23 15:07] steffchep opened #3 "Grab favicon from javaland page"
we currently are using the duke as favicon.

[2015-09-23 16:08] steffchep commented on #3
fixed

[2015-09-23 16:08] #3 closed

[2015-09-24 12:00] ascheman opened #4 "Recursive caching causes recursive call of REST service"
During log file analysis of [the strange Facebook problem](https://github.com/dukecon/dukecon/issues/13) we saw that download of the Application causes multiple calls to the REST interface for talks. Based upon the referrer URLs it seems the following happens:

* / (or index.html) loads cache.manifest and retrieves /rest/talks
* the cache.manifest leads to loading /talks.html, /speakers.html and /

[2015-09-25 11:53] ascheman opened #5 "Local stoage bound to server name"
The local storage of DukeCon seems to be bound to the server base URL, e.g., http://dev.dukecon.org. If there are many instances running on the same host, they will share a singleton storage. Please extend the storage id to the full base URL, e.g., http://dev.dukecon.org/latest/.

[2015-09-25 13:40] ascheman opened #6 "Problems on Fedora with Firefox"
_From @ascheman on September 25, 2015 12:10_

As reported in #17 (better perform separate tracking) by @JOpsDev

Firefox 40.0.3 on Fedora Linux either tries to load forever if you click on the details page or it shows a details page without any content filled in.

_Copied from original issue: dukecon/dukecon#18_

[2015-09-25 13:40] ascheman opened #7 "Offline mode not always working"
_From @JOpsDev on September 25, 2015 8:39_

Depending on the device and the browser the offline mode is sometimes not working.
For example the default browser on a HTC One Mini displays a warning once and does not work afterwards.
Also Firefox 40.0.3 on Fedora Linux either tries to load forever if you click on the details page or it shows a details page without any content filled in.

HTC One Mini

[2015-09-25 13:40] ascheman commented on #7
@JOpsDev thanks for the report! For the HTC device: Could you please tell us which browser version it has and if any alternative browser is available there which is able to run in offline mode with DukeCon? Which one?

I fear both devices are currently to exotic to further investigate this, but we will maybe even list a number of devices where problems where reported.

[2015-09-25 13:41] ascheman opened #8 "Add tests for Html-App"
_From @annam002 on September 24, 2015 19:28_

_Copied from original issue: dukecon/dukecon#16_

[2015-09-25 13:42] ascheman opened #9 "Show info label when all talks are filtered out"
_From @annam002 on September 24, 2015 19:16_

_Copied from original issue: dukecon/dukecon#14_

[2015-09-25 13:42] ascheman opened #10 "Filter ein/aus+reset"
_From @ascheman on September 21, 2015 8:5_

Die gewählten Filter sollten mit einem Schalter ein-/ausgeschaltet werden können, evtl. kombiniert mit einem reset der filter.

~~Evtl. sollte bei einer "leeren" Anzeige ein Hinweis kommen, dass es durch die Filter-Einstellungen keine Anzeige von Talks gibt.~~ (das ist ein anderer Issue: #9)

DIe Nachricht bei leerer Anzeige soll ebenfalls um diesbezügli

[2015-09-25 13:43] ascheman opened #11 "Regelmäßiges Pullen von neuen Daten"
_From @annam002 on September 20, 2015 18:30_

Im Moment werden die Daten immer erst vom Server geholt, und wenn der Server nicht verfügbar ist, aus dem lokalen Speicher. Das kann unter Umständen langsam sein, weil immer auf die Antwort vom Server gewartet wird.
Idee: Die Daten einmal holen und lokal speichern. Beim Aufruf der Seite die Daten immer aus dem lokalen Speicher holen. Im Hintergrund reg

[2015-09-25 13:43] ascheman opened #12 "Scrollposition beibehalten"
_From @annam002 on September 20, 2015 16:11_

Wenn man in der Talkübersicht gescrollt hat, dann auf die Detailansicht geht, und dann wieder zurück, wäre es wirklich nett, wenn die Scrollposition diesselbe ist wie vorher. Besonders auf dem Handy scrollt man sonst ewig.

_Copied from original issue: dukecon/dukecon#6_

[2015-09-25 13:43] ascheman opened #13 "Layout springt wenn Filter ausgewählt werden"
_From @annam002 on September 18, 2015 13:32_

Das Layout springt bei manchen Filtern, zum Beispiel wenn man "Architektur & Sicherheit" anklickt.

_Copied from original issue: dukecon/dukecon#4_

[2015-09-25 17:29] ascheman opened #14 "Systematic explorative browser tests?"
Should we prepare some systematic explorative browser tests for upcoming releases?
Maybe just a list of _test cases_, e.g.,
- talks/speakers/feedback/impressum
- select/unselect some filters/days
- select some details
- ...

and a matrix of browsers, and OSs, and propably people who could help check it, if we do not have the device, e.g.,

| Browser/OS | Windows (7, 8, 10) | OSX | Linux (Debian, U

[2015-10-02 09:14] steffchep commented on #9
Fixed; for now it is a fixed German text.

[2015-10-02 09:14] #9 closed

[2015-10-02 10:31] steffchep commented on #12
Fixed!

[2015-10-02 10:31] #12 closed

[2015-10-02 10:38] steffchep opened #15 "Re-Add Favorites"

[2015-10-02 12:13] annam002 commented on #8
Set up some jasmine tests. Maybe we should add an account here so we can test several browsers automatically: https://saucelabs.com/signup

[2015-10-02 12:13] steffchep commented on #10
implemented visuals

[2015-10-02 12:16] ascheman commented on #8
Could you set up a "dukecon" account? Is it suitable for automated tests driven by Jenkins? If so, please provide me the respective credentials via private messages.

If it's necessary for other people to have such an account to run the test suite, please add a small setup howto to the project (new "docs" folder?).

[2015-10-02 12:32] annam002 commented on #10
Saved the "filter active" setting

[2015-10-02 13:47] steffchep commented on #10
done

[2015-10-02 13:47] #10 closed

[2015-10-02 13:58] annam002 commented on #5
Done, please test

[2015-10-02 13:59] annam002 commented on #8
Account was set up; integration with jenkins pending.

[2015-10-02 14:25] annam002 commented on #8
Added link to test suite to dev-site: https://github.com/dukecon/dukecon_webhome/commit/ec9eded020a5f02d79ae9b2da9d06a4d37557b6b

[2015-10-02 15:10] steffchep commented on #6
Which version of Fedora? And does it also occur with the latest Firefox (41.x)?

[2015-10-02 16:36] ascheman commented on #5
Looks OK!

[2015-10-02 16:36] #5 closed

[2015-10-02 16:49] ascheman commented on #6
@JOpsDev: Can you provide the versions of Fedora and Firefox?

[2015-11-01 16:09] steffchep opened #16 "Filter Header, "Active" and "Only Favorites" not translated to Englisch on reload"
Reproduce:
- with the html page loaded:
- switch to Englisch
- reload the page

Observed Result:
- Page is in english except for the items mentioned in the bug title
- this also affects the "No talks found" message

Expected Result:
- those items should also be showing in Englisch

Workaround:
- switch the language to German and back to Englisch without reloading the page

[2015-11-01 16:11] steffchep commented on #15
Favorites are back!
Still TODO: add mention of them in the "No talks found" message (i.e. "No talks found; please perform a filter Deactivation or Reset! Also check if you have 'only favorites' activated")

[2015-11-13 10:13] steffchep opened #17 "Favorites marker should be at the start of the line"

[2015-11-13 10:14] steffchep opened #18 "Implement "My Plan""
- Should replace "Only Favorites"

[2015-11-13 10:15] steffchep opened #19 "Move Menu to header bar and make it more "in your face""
Possibly add a thumb-friendly bar at the bottom, where "Impressum" is

[2015-11-13 10:16] steffchep opened #20 "Keycloak Auth"

[2015-11-13 13:30] steffchep opened #21 "Add a "Loading" animation"
... hide the talk schedule and filters until they're fully initialized

[2015-11-15 19:30] annam002 opened #22 "Improve performance"
Performance has been reported to be poor sometimes, especially in Firefox.
Analyse the possible sources of performance problems and eliminate them.

[2015-11-15 19:51] annam002 commented on #22
### Possible performance culprits
- Too many unnecessary server calls - loading and re-loading should be optimized
- Loading more js than necessary (e.g., why does impressum.html need talklist.js and ui.js? Seems the code separation is wrong)
- Inefficient local storage - maybe store processed data in indexed db/local cache instead of raw server data
- Inefficient use of knockoutjs-listeners (e.g.

[2015-11-15 20:52] annam002 commented on #22
### Optimize loading

The data should only be loaded from the server when necessary.
Currently, I implemented a timeout - the data is valid for two hours. After that, the data is reloaded from the server and the timeout is reset.
This is still suboptimal:
- If the data changes on the server, we only get the changes after two hours. It should be possible to ask the server if there is new data. Crea

[2015-11-15 21:37] annam002 commented on #22
### Offline detection

It is difficult to detect the online/offline state of the browser. There is an API in HTML 5 for this, but it is not consistently implemented across browsers. The safest bet seems to be to listen for the status of the appcache file load and set an offline flag when the appcache file cannot be loaded: http://www.html5rocks.com/en/mobile/workingoffthegrid/#toc-appcache

I impl

[2015-11-15 21:41] annam002 opened #23 "App slow in Firefox when server is offline due to keycloak.json"
In Firefox, when the app is loaded while the server is offline, it takes really long to load.
The reason is that the browser tries to retrieve the file keycloak.json from the server, which fails after a long time (in my case, 7.9s). This file should probably be cached.
This does not happen in other browsers (tested in Chrome and Microsoft Edge)

[2015-12-04 12:28] steffchep commented on #20
Auth is working, still open: save and load user sattings (filters, favourites, language...)

[2015-12-04 14:47] steffchep commented on #21
explored a few options including ko.bindingHandlers.[addYourOwnHandler], but all of them would hide the loading screen before the content is fully rendered (particularly since we are using nested foreaches). So the current solution adds a 200 ms timeout after the data is loaded before hising the loading screen. Not pretty, but it looks okay on the screen....

[2015-12-04 14:54] #21 closed, assigned to steffchep

[2015-12-04 15:11] #17 closed, assigned to steffchep

[2015-12-04 15:13] steffchep opened #24 "make "unchecked" checkbox visible in Filter area"
either as an "X" or as an empty checkbox

[2015-12-04 15:29] ascheman opened #25 "keycloak theme: align with dukecon styles"
Adopt keycloak pages to dukecon styles and layouts: https://keycloak.github.io/docs/userguide/keycloak-server/html/themes.html
- @ascheman: find out how to apply themes to server
- @steffchep: adopt themes

theme should be lightweight for mobile clients and fit into flex clients also (check with @chrisdutz)

[2015-12-04 15:57] steffchep commented on #24
one option is to remove all styles, but then the check box looks ugly (CSS doesn't work the same in all browsers on checkboxes)
instead I inserted unicode representations for empty and full, which at least will use the proper text color. We can replace them with images at some point

[2015-12-04 15:59] #24 closed, assigned to nobody

[2015-12-06 22:26] sippsack opened #26 "Mismatch between model instance loaded from local storage and the current data model"
http://dev.dukecon.org/latest/index.html doesn't finish loading in Chrome:

Uncaught TypeError: self.selectedDayIndex is not a function

![image](https://cloud.githubusercontent.com/assets/413426/11615915/4b2967e2-9c6d-11e5-9437-c1120bba4436.png)

Looks like a cache problem. It works in a new opened incognito window where local stoage is empty.

My assumption (correct me, if I'm wrong):
It correla

[2015-12-07 04:15] ascheman commented on #26
Had this problem too, it vanishes when the cache is deleted. Anyways, we should handle those errors since they restrict users with an older version of the application to load the page (we can hardly inform them to manually delete their cache).

[2015-12-07 08:46] sippsack commented on #26
How do you delete your cache? I don't like to reset the full chrome settings. Is it possible for dev.dukecon.org only?

[2015-12-07 20:18] ascheman commented on #26
For me it was sufficient to just delete cookies and images/files:

On 07.12.2015, at 09:46, Falk Sippach notifications@github.com wrote:

##

Gerd Aschemann --- Veröffentlichen heißt Verändern (Carmen Thomas)
+49/173/3264070 -- gerd@aschemann.net -- http://www.aschemann.net

[2015-12-11 09:30] steffchep opened #27 "Make small screen overview more compact"
- better use of screen width
- should only show track name, date and time (no weekday) and room

[2015-12-11 09:39] annam002 commented on #22
Implemented a regular check for server updates based on the newly built etag-hash-information.

[2015-12-11 09:53] annam002 commented on #22
With the actionstaken, performance seems to be a lot better, so closing the issue for now.

[2015-12-11 09:53] #22 closed, assigned to annam002

[2015-12-11 11:43] annam002 commented on #26
Seems that this is part of a bigger problem: Upgrading from 1.0 to 1.1 on the same url does not really work, the app is completely cached. Without clearing the cache, you won't get the new version anyway. We have to find a solution for this.

[2015-12-11 11:44] annam002 commented on #11
Was implemented in #22

[2015-12-11 11:44] #11 closed

[2015-12-11 12:38] #27 closed, assigned to steffchep

[2015-12-11 12:39] steffchep commented on #13
Lann man feststellen ob das noch passiert? Ich vermute stark, dsas es dann passiert wenn auf einmal der content in die seite passt und daher der Browser die rechte scrollbar ausschaltet

[2015-12-11 13:09] annam002 commented on #26
http://www.mobify.com/blog/beginners-guide-to-http-cache-headers/

[2015-12-12 09:31] ascheman commented on #26
Maybe there is a chance to do some URL magic by the switch to https. Chrome seems to handle the same server/uri differently for http and https. I have prepared two URLs
- http://dev.dukecon.org/ssltest (loads 1.0, aka /javaland)
- https://dev.dukecon.org/ssltest (loads 1.1, aka /latest)

(visit http first, then https!)

For me, Chrome happily (re)loads the second URL completely without taking care

[2015-12-17 22:01] ascheman commented on #26
@ascheman: Add some tests with more headers ...

@annam002: Enforce full cache-invalidation by "special" flag in data. Maybe we should provide an additional rest call for that? Idea: let the html5 application check a particular rest service every know and then for a "desired" version. If the local version as delivered by .../versions/dukecon_html5-version.txt does not match, enforce cache invalida

[2015-12-17 22:10] ascheman commented on #20
@annam002 / @steffchep: Please try to move this forward til the end of the year
Maybe online session with @janwesterkamp, @ascheman, @sippsack on Dec. 28/29/30?

[2015-12-19 10:00] annam002 opened #28 "Load new data asynchronously in background"
We regularly check if there is new data on the server in the background. If this is the case, we should directly store the new data in local cache, so that the app directly uses the new data on the next load of a page. In addition, it would be nice to have a little indicator in the interface to indicate that new data is loading.

[2015-12-31 14:17] ascheman commented on #26
@annam002 / @steffchep please retest the caching problem as I see a strange behaviour in Chrome.
1. Chrome Inspect Network shows that most content is still retrieved from the cache even if the manifest changes
2. Nevertheless I still see old / new content in the browser. Additionally, when monitoring network traffic I see that all resources are loaded if the manifest changes even when Chrome tells

[2016-01-01 21:18] ascheman opened #30 "Enhance publishing loaded favourites"
Please check out #29, there is an open TODO: dukecloak.js:33 needs to be enhanced to publish the loaded favourites to the view model directly instead of a window reload (would otherwise lead to a infinite loop)

[2016-01-01 21:22] ascheman commented on #20
Seems to be solved in general now (thanks to @ahus1), there is only a small follow up left (#30).

[2016-01-05 00:12] ahus1 commented on #26
@ascheman I had to remove the no-store in https://github.com/dukecon/dukecon_server/commit/1de0b7a3f33240efed2ada4c99dc8b3f21129c15 as reloading of the application stopped working in firefox.

[2016-01-07 21:46] ahus1 commented on #23
keycloak.json has been added to cache.manifest by @ascheman in 7e612e77e78bb13cb97cd7acaad9c7836a32a5df
I suggest closing this issue.

[2016-01-08 10:05] #15 closed, assigned to steffchep

[2016-01-08 10:09] steffchep commented on #13
I'm going to close this as I believe that the latest layout changes have eliminated this.

Reopen if you disagree :)

[2016-01-08 10:09] #13 closed

[2016-01-08 10:45] annam002 commented on #20
I changed dukecloak.js as indicated. Works fine in Chrome and Firefox, but in IE 11 I get an error message "Unable to update token" and the synchronization does not work. Please have a look.

[2016-01-08 10:48] annam002 commented on #30
Favourites are now overwritten with the favourites from the server when logging in. Should probably be merged instead.

[2016-01-08 12:27] annam002 commented on #30
Favourites are merged now.

[2016-01-08 12:38] annam002 commented on #20
I tracked it down to the method checkLoginIframe() in keycloak.json. Something goes wrong there with the iframe. It could be this problem: http://stackoverflow.com/questions/389456/cookie-blocked-not-saved-in-iframe-in-internet-explorer

[2016-01-08 13:26] annam002 commented on #30
Added a check whether something changed before re-filtering the talks after favourites load.

[2016-01-08 13:29] #28 closed, assigned to annam002

[2016-01-08 13:33] annam002 commented on #26
@ascheman : I don't understand: if you install an old version where the caching problem was still existing, then you will observe that the caching problem still exists???

[2016-01-08 15:59] steffchep commented on #19
Leaving it open to await feedback

[2016-01-08 16:01] ascheman commented on #19
## Looks very good, thanks!

Gerd Aschemann - mobil - +49 173 3264070

Am 8. Januar 2016 16:59:38 MEZ, schrieb steffchep notifications@github.com:

[2016-01-08 22:55] ahus1 commented on #23
Submitted pull request #31 to initialize keycloak only when online. Please check if this handles your offline cases successfully. If yes, please merge and maybe also close this ticket.

I wonder if the login button should be hidden when we are not online?

[2016-01-09 14:26] ahus1 commented on #20
I tried again today with IE11 and http://dev.dukecon.org/latest and don't see this happening.

@annam002 - can you please have a look (again)? Otherwise I will add a P3P header to Keycloak. But I want to see the error myself before I make this change. Instructions on how to reproduce it and/or a screenshot would be great.

[2016-01-09 21:04] annam002 commented on #20
Here, at home, it happens in Firefox and Chrome. I don't have Internet Explorer here, but Edge, and it first gave me an internal server error on log in, and then the log in suddenly worked. I could not see anything in the server log about the error, though.
My reproduction recipe: simply log in with the github account. You get the "logged in" symbol and the logged in user name shown, but the log s

[2016-01-09 23:44] ahus1 commented on #20
@annam002  - please merge PR #35 and give it another try with Firefox and Chrome. Both work find for me. Please send a log of the console output. I know that the Keycloak version 1.4 we use has a known problem when the server clock is out of sync with the client clock.

More recent version of Keycloak autocorrect this. The log entries will show if this is a clock skew problem.

To tacke the IE pro

[2016-01-10 11:30] annam002 commented on #20
@ahus1 - This is the log output:
local time: 1452425526.471
iat: 1452425376
diff: 150.47099995613098
exp in: 149.52900004386902
isExpired: false

[2016-01-11 15:14] ahus1 commented on #20
@annam002
- Internet Explorer funktioniert bei mir nun, nachdem der Header gesetzt wurden. Kannst Du es bitte noch einmal prüfen?
- Da jetzt Keycloak aktualisiert wurde, kannst Du bitte bei Dir noch einmal Firefox und Chrome testen?

Die Log-Meldungen zeigen, dass die Zeitdifferenz nicht das Problem war (waren "nur" 3 Minuten) - wie auch immer, das neue Keycloak kann damit besser umgehen.

Danke,

[2016-01-11 15:26] ahus1 commented on #23
@annam002 - der PR ist gemerged. Kann das Ticket geschlossen werden?

[2016-01-11 19:02] ascheman opened #36 "Setting favorites on Speakers page does not work"
_From @ascheman on January 8, 2016 16:32_

If a favorite is selected on the speaker overview page it gets lost on the talks page

_Copied from original issue: dukecon/dukecon#24_

[2016-01-11 19:22] ascheman commented on #19
It seems to be OK to all?

[2016-01-11 19:22] #19 closed, assigned to steffchep

[2016-01-11 19:24] ascheman commented on #16
Seems to work now? @steffchep did you do anything? Please re-test ...

[2016-01-11 19:28] ascheman commented on #4
I think, this is still open (@annam002 could you look into this?)

[2016-01-12 23:03] steffchep commented on #16
If you follow the reproduction steps it still occurs.
At least on Firefox.
Not entirely sure why it happens, probably a timing issue between knowckout and the resouces script

[2016-01-13 08:26] annam002 commented on #23
Yep, problem gone.

[2016-01-13 08:26] #23 closed, assigned to nobody

[2016-01-13 08:27] annam002 commented on #26
Retested and seems to work. Unless we want to test in more browsers, this can be closed.

[2016-01-13 20:52] ascheman commented on #16
Deadline: 2016-01-18 - if not solved, postpone to release-1.2

[2016-01-13 20:55] ascheman commented on #7
Please reopen if necessary!

[2016-01-13 20:55] #7 closed

[2016-01-13 20:58] steffchep opened #37 "Get a fresh small logo from Javaland"
We are currently using a large Javaland logo that we are shrining via CSS. It doesn't look very nice.

[2016-01-13 20:58] ascheman commented on #4
Deadline 2016-01-17, if not solved postpone to release-1.2

[2016-01-13 21:47] ascheman opened #38 "Give hint on (first) favorite selection to login/sync. service"
Upon selection of a favorite the user should be advised that he can synchronize between different devices, at least at the first time.

Idea: Use http://usablica.github.io/intro.js/ or similar library.

@steffchep would be great for 1.1 as discussed

[2016-01-13 21:50] ascheman opened #39 "Set social media id provider preference"
In https://github.com/dukecon/dukecon_flex the first chosen social media id provider chosen will be used for subsequent logins. It would be nice if we had this for HTML5 too. Then there should be a settings/preferences page to maintain this setting too.

[2016-01-13 21:53] ascheman opened #40 "Add Flex-App AppStore-button(s) to imprint"
As soon as @chrisdutz has published the DukeCon Flex client to the iOS and Android App-Stores there should be an additional button in the imprint (impressum) bar to download/open this.

(Planned as "bugfix" release for 1.1)

[2016-01-13 21:53] ahus1 commented on #36
Reason was, that no favourites were loaded on the speaker page. When the talk was already selected in the local storage, it showed up as not selected in the frontend. When clicking on the talk on the webpage, the start appeared, but it was deselected in the local storage. when you then switched to the talks page, it was no longer selected.

Now the favourites are loaded when the page is loaded. th

[2016-01-13 21:53] #36 closed, assigned to ahus1

[2016-01-13 21:56] ascheman commented on #26
@annam002: Please re-test for 1.1 (see due date!)

[2016-01-13 22:06] ascheman commented on #37
@steffchep can you specify resolution and size?

[2016-01-13 22:07] ascheman commented on #37
Addressed to DOAG, we should probably forward the new logo to @chrisdutz for the Flex client too?

[2016-01-14 07:52] ascheman opened #41 "Fix Filters + "Table" heads to a top of page?"
Maybe we have discussed this already?

It would be nice if we could fix the "meta navigation", i.e., the filter list (or filter button in responsive design) and the "day selection" to the top/top left corner of the screen. Otherwise one has to scroll back to the top of the page every now and then to change filter settings or select another day - in particular on mobile devices with a restricted sc

[2016-01-17 00:35] ahus1 commented on #16
I had a look at it and replaced the JQuery code with Knockout computed elements.

Old usage:

[code]

New usage:

[code]

[2016-01-17 00:46] #16 closed, assigned to steffchep

[2016-01-17 10:06] steffchep commented on #37
The logo on the html page is resized to a height of 35 pixels.

[2016-01-17 10:17] steffchep opened #42 "Can't set favorite in Talk detail page"
It was never implemented, might not be too difficult to do though.

[2016-01-17 13:08] steffchep commented on #38
Please test. Hint should appear once a day for users that are not logged in (clear cookies to reset)

[2016-01-17 13:14] ascheman opened #43 "add cookie disclaimer"
EU law requires to explain cookie usage to users and to get a consent of the users, cf. https://www.cookielaw.org/.

[2016-01-17 15:06] steffchep commented on #43
https://github.com/dukecon/dukecon_html5/commit/e8063b9d054d22124bc2c1d4394913950a867a73 -- added cookie confirmation

[2016-01-17 17:34] annam002 commented on #20
I can still reproduce the problem I had with Firefox and Chrome

[2016-01-17 17:57] annam002 commented on #26
Tested ok in the following browsers:
Chrome, Firefox, Internet Explorer, Edge, Seamonkey, Chrome for Android, Firefox for Android, Safari (IOS 9.2)

[2016-01-17 17:57] #26 closed, assigned to annam002

[2016-01-17 18:09] annam002 commented on #4
I cannot reproduce this. I only get a single call to /rest/talks on load

[2016-01-17 18:09] annam002 commented on #4
@ascheman Please check if you can still reproduce this and how.

[2016-01-17 19:10] annam002 commented on #38
Works, but layout could be improved. Looks a bit cramped now. Maybe some  margin at the bottom and a line between text and ok-button?

[2016-01-17 19:46] annam002 commented on #20
I can log in without problems on dev.dukecon.org/latest - seems to be a problem of the local server.

[2016-01-17 20:18] ahus1 commented on #20
@ascheman - I found that for IE the P3P header is missing after we switched to SSL for keycloak. Please update the apache configuration. I made the change here: https://github.com/dukecon/dukecon_infra/commit/48959fed9bcd5775a06cee14c55d88aa7ffc2cea

[2016-01-17 21:02] annam002 commented on #30
Local favourites now overwrite server favourites in the following scenario:
- user logs in and clicks some favourites
- user looses the connection, but keeps changing the favourites
- connection is re-established; the favourites set by the user while offline overwrite the favourites from the server

[2016-01-17 21:13] #30 closed, assigned to annam002

[2016-01-17 21:16] annam002 commented on #20
This issue only occurs when starting the server locally and seems not to be reliably reproducable

[2016-01-18 07:59] ascheman opened #44 "Add KeyCloak Profile Link"
It would be nice, if a logged in user could click on his name in the upper right corner and be connected to the KeyCloak profile login, e.g., https://keycloak.dukecon.org/auth/realms/dukecon-testing/account/.

@srose / @ahus1 : As far as I can see navigating to the link is sufficient when logged in (re-use of tokens), right?

[2016-01-18 08:05] srose commented on #44
Yes, this should be fine. Keycloak creates an "Back to application" link. This should work fine (but please verify it)

[2016-01-18 10:56] ascheman commented on #4
Looks good!

[2016-01-18 10:56] #4 closed

[2016-01-18 18:15] ascheman opened #45 "Multiple dukecon instances from same domain store into same indexDB"
We have multiple dukecon instances (latest, testing, testdata, ...) running on the same domain (dev.dukecon.org) which all store into the same indexDB "dukecon".  They should use an instance qualifier, e.g., _$instance to distinguish get an instance private storage, similar to local storage contents.

Is it OK to assign this directly to @annam002?

[2016-01-18 22:27] ahus1 commented on #20
I added some more logging when the login fails. @annam002 - please try again on your local PC and post the logs afterwards.

Thanks!

[2016-01-19 08:00] steffchep opened #46 "Tabs for Day should be reformatted on mobile"
They wrap around when there are more than two and it's not so pretty

[2016-01-19 08:03] steffchep commented on #46
![screenshot](https://cloud.githubusercontent.com/assets/10571670/12412954/78ac10da-be8b-11e5-8963-8cb0e41591f9.png)

[2016-01-19 08:45] ascheman commented on #46
Partly addressed in #41 ;-)

[2016-01-19 08:46] ascheman commented on #41
Seems the second part will be handled in #46 ...

[2016-01-19 08:48] ascheman commented on #46
Had the same issue also on small devices with only two days ...

What about my proposal of "only" current day + left/right arrows?

[2016-01-19 17:40] annam002 commented on #20
This is the log output now:
Retrieve data from indexeddb
dukecloak: documentready
We are online - starting timer to check for updates
Check for new data on server
GET http://localhost:8080/develop/rest/conferences/499959
dukecloak: online
GET http://localhost:8080/develop/rest/keycloak.json
POST https://keycloak.dukecon.org/auth/realms/dukecon-developer/protocol/openid-connect/token
Auth Success!!

[2016-01-19 18:03] ahus1 commented on #20
Welcher Browser war das auf welchem Betriebssystem?
[19:12:38] Anna: Das war Firefox auf Windows 10
[19:12:47] Anna: Firefox 43.0.4

[2016-01-19 20:27] ahus1 commented on #20
@annam002 Keycloak öffnet auf der Dukecon-Seite einen iFrame und liest so den Cookie von Keycloak aus.

Hast Du irgendwelche Sicherheitseinstellungen oder Entwickler-/Adblocker-Plugins, die das blockieren könnten?

[2016-01-19 20:37] annam002 commented on #20
Das war es! "Cookies von Drittanbietern akzeptieren" war auf "Nie" gesetzt. Nachdem ich es auf "Nur von besuchten Drittanbietern" gesetzt habe, ging es. Hm.

[2016-01-19 20:50] ahus1 commented on #20
wo hast du das denn eingestellt? Ist das eine Standard-Firefox-Einstellung, oder ein Plugin?

[2016-01-19 20:51] annam002 commented on #20
Einstellungen -> Datenschutz -> Chronik

[2016-01-19 20:54] ahus1 commented on #20
ah, musste noch auf benutzerdefinierte Einstellungen umschalten.

[2016-01-19 21:09] steffchep commented on #46
Thinking (for now) of just shortening the text. But I'll play around with a few options when I get to it

[2016-01-19 22:51] ahus1 commented on #20
Das Problem konnte wie folgt eingegrenzt werden: wenn dukecon auf localhost gestartet wird, dann gilt keycloak.dukecon.org als "Third Party"/"Drittanbieter". Je nach Cookieeinschränkung funktioniert dann die iFrame-Session-Erkennung nicht.

Wenn Dukecon und Keycloak unter der gleichen Domäne läuft wie in Test und Produktion (dev.dukecon.org und keycloak.dukecon.org), dann gilt das nicht als "Third

[2016-01-19 22:51] #20 closed, assigned to annam002

[2016-01-20 05:47] ascheman commented on #43
Seems to work (have seen the disclaimer very often the last days - every time when deleting the cookies during tests ;-).

[2016-01-20 05:47] #43 closed, assigned to steffchep

[2016-01-20 07:37] ascheman commented on #38
Works, please raise a new ticket if you would like to improve the layout ...

[2016-01-20 07:37] #38 closed, assigned to steffchep

[2016-01-20 09:17] ascheman opened #47 "ff incognito window only shows spinner after login"
The spinner (turning wheel cursor) is shown forever when an anonymous/incognito window is used to access dukecon after the keycloak login.

Reproduce by:
- Open incognito window
- Navigate to https://dev.dukecon.org/testing
- Click the lock button to login via keycloak
- Authorize
  The redirect will show the spinner.

You probably will see the following error in the JS console:
`Opening database

[2016-01-20 09:20] ahus1 commented on #45
I see that the etag is saved in the localStorage, the corresponding data is stored in the indexdb. This is asymmetic. I would recommend to store both in the indexdb.

[2016-01-22 10:27] annam002 commented on #47
This is a "feature" of firefox, see https://bugzilla.mozilla.org/show_bug.cgi?id=1150666
I fixed, but in a really ugly way. Could not find another way. Please test.

[2016-01-22 10:52] ascheman commented on #47
Seems to work now in latest FF on OSX and Ubuntu (even with favorite synchronisation - totally "unexpected"). In some cases a second click on the lock symbol is necessary to log in.

[2016-01-22 10:52] #47 closed, assigned to ascheman

[2016-01-22 12:49] annam002 opened #48 "Modularize the application"
Dependencies between the js files in the application are a mess.
Use requirejs to divide the application into proper modules.

[2016-01-22 13:02] annam002 commented on #48
Involves a lot of changes for all files; will do this after release.

[2016-01-22 13:43] annam002 commented on #42
Added button - please test.

[2016-01-22 13:50] ascheman commented on #42
Tested (even in r1.1) - works - please close if any other tester agrees.

[2016-01-22 14:31] annam002 commented on #42
Tested by Steffi.

[2016-01-22 14:31] #42 closed, assigned to steffchep

[2016-01-24 20:21] ahus1 opened #49 "Icon upper left corner should link to front page of program"
... instead of the javaland homepage.

Javaland Homepage should be linked from the menu instead.

This way the icon will be "erwartungskonform" :smile:

[2016-01-28 11:09] #49 closed, assigned to steffchep

[2016-01-28 13:38] dasniko commented on #25
I could support here, not really an effort...
Only login/forgot pwd screen (not much effort), or also other screens as well (e.g. account application - a bit more effort)?
Do you already have some screens/examples of layout?

[2016-01-28 14:39] dasniko opened #50 "Environment is shown when logging in with Social Provider"
When logging in with a Social Provider (first time, when requesting the authorization), the environment is displayed in the name of the application ("(Production)" -> see screenshot)
This is not a real bug, but should be avoided. Users shouldn't be confronted with this information.

GitHub:
<img width="519" alt="bildschirmfoto 2016-01-28 um 15 33 58" src="https://cloud.githubusercontent.com/assets

[2016-01-28 14:44] dasniko opened #51 "Internal Server Error after Logging in with Social Provider"
I got a "Internal Server Error" Message, when trying to log in with Github and/or Twitter (not tried Google), after redirected back to KC URL https://keycloak.dukecon.org/auth/realms/javaland/login-actions/first-broker-login?code=...
There was only the error message in the browser, no styled error message!

[2016-01-28 14:51] dasniko opened #52 "Keycloak Emails are classified as Spam -> change settings of SMTP server!?"
All the KC verification emails are gone into my spam folder, so I didn't see them in beneath the 5 mins timeslot (perhaps extend this to 60 mins or so?).

I'm not an expert in configuring SMTP settings, but there are some things like "SPF" record/filter(?) and others, which leads to better results, when set correctly.

If users are not aware of this, they might not be able to use the application.

[2016-01-28 15:12] ascheman commented on #52
This issue was moved to dukecon/dukecon_infra#19

[2016-01-28 15:12] #52 closed, assigned to ascheman

[2016-01-28 15:51] dasniko commented on #25
@ascheman To deploy the themes to the KC server, you just have to provide a folder under `.../standalone/configuration/themes/` besides the already existing ones. Then, you have to select the appropriate theme in the realm settings.

Because of that, I suggest to realize this in the `keycloak_postgres_https` project, then it's easy to copy the folder to the docker image.

[2016-01-28 16:10] steffchep commented on #46
Shortened the weekday when viewing small screens. Don't want to add a whole new library so I hope this is enough. If not, we can also remove the abbreviated weekday to gain more space

[2016-01-28 16:11] #46 closed, assigned to steffchep

[2016-01-28 16:15] steffchep commented on #41
One problem I see if we "fix" the filters: There are quite a few of them, and if they are fixed in position you won't be able to get to the lower ones.
I'm also not a fan of too many individually scrollable areas. I think it is better to do one or both of the following:
- place another "days" tab at the bottom of the list
- put a "Back to Top" jump mark inside each hour slot

Thoughts?

[2016-01-28 16:22] steffchep commented on #50
I think this should be in the keycloak project I think - but I don't know how to move it!

[2016-01-28 16:22] steffchep commented on #51
I think this should be in the keycloak project I think - but I don't know how to move it!

[2016-01-28 16:25] steffchep commented on #44
To make this work without having to change variables, I'll have to somehow extract the realm from the url. Having a look at the options now.

[2016-01-28 16:52] ascheman commented on #50
The string "(Production)" was set by me in the Github application settings ... I will simply remove it ;-)

[2016-01-28 17:05] steffchep commented on #44
I don't see a "Back to Application" link on the profile page.

Does this need to be added? If that's not possible, perhaps the profile should be opened in a new tab/window?

[2016-01-28 17:10] ascheman commented on #44
The realm can be retrieved from /rest/keycloak.json. If desired we could also add the full URL of the KC user settings URL (or at least the generic part)?

[2016-01-28 17:10] steffchep commented on #44
I got the realm figured out :)

[2016-01-28 18:37] #44 closed, assigned to steffchep

[2016-01-29 09:08] dasniko commented on #25
This issue was moved to dukecon/keycloak_postgres_https#1

[2016-01-29 09:08] #25 closed, assigned to ascheman

[2016-01-30 11:46] ascheman commented on #50
Fixed!

[2016-01-30 11:46] #50 closed, assigned to nobody

[2016-01-30 17:03] dasniko opened #53 "UI impressions with Chrome/Safari on iPhone 6"
I made the following experiences today, when surfing with iPhone 6 and Chrome (Safari is same behaviour, I tested it, but did no screenshots):

_Caution: Screenshots are very big, sorry..._
### Cookie-Banner

The Cookie-Banner has no 100% width. Is this inteded? The fist test showed even a much smaller cookie overlay, but I couldn't reproduce.
![2016-01-30 12 47 06](https://cloud.githubusercontent

[2016-01-31 12:11] dasniko commented on #48
I just started something, what _might_ be possible to support your approach. We discussed yesterday in Skype chat to switch the frontend build process to _Gulp_. There's a `gulp` branch containing the changes.

Additionally to only replacing Maven with Gulp, which wouldn't have an advantage, it is now possible to do a frontend development on `http://localhost:3000`, without requiring to have a loc

[2016-01-31 13:01] annam002 commented on #48
I wanted to modularize the js next Friday. There is an issue for this on my
name. Already started befor the release but did not merge back yet.
Am 31.01.2016 13:11 schrieb "Niko Köbler" notifications@github.com:

[2016-01-31 13:08] dasniko commented on #48
Yes, you and me already commented in your issue... :-)

[2016-01-31 13:11] annam002 commented on #48
Ok, so, please let me finish this refactoring that I already started before
you change everything.
Am 31.01.2016 14:08 schrieb "Niko Köbler" notifications@github.com:

[2016-01-31 13:18] dasniko commented on #48
I didn't change "everything". No JS file relations yet.
Please have a look into the `gulp` branch for what I did, including the readme file!

[2016-01-31 13:21] annam002 commented on #48
Ok, it sounded like that. ;-) Will check out your changes this afternoon.
Am 31.01.2016 14:18 schrieb "Niko Köbler" notifications@github.com:

[2016-02-05 07:35] steffchep commented on #6
Can someone check this again? There have been a lot of changes in the meantime

[2016-02-05 08:40] steffchep commented on #53
Layout on smaller screens has already been improved - can you try again on the latest build?
As for the width of the cookie overlay - this is a compromise to avoid having it bleed out of the screen - and was tested only with very large (> 1200) and 320 pixels.

[2016-02-05 11:56] steffchep commented on #41
If this is (for now enough) we can close this, as I don' think actually fixing the filters in place will add to the usability....

[2016-02-05 13:13] annam002 commented on #48
Modularized the app with requirejs. Still some clean up to do.

[2016-02-05 13:16] steffchep opened #54 "Login should be disabled in offline mode"
clicking the login icon in offline mode leads to an error page

Some possibilities:
- in offline mode, clicking the icon will produce a popup: "You're offline, can't log you in"
- in offline mode, hide the icon (but in this case the text when first clicking a favorite makes no sense, so perhaps solution 1 is better)
- ...

[2016-02-05 13:19] steffchep opened #55 "Insert a "Back" button for mobile views"
iOS in particular does not have a back button - would be good to have it in the mobiles

[2016-02-05 15:25] annam002 commented on #48
Left to do: fix the tests

[2016-02-07 16:27] dasniko commented on #53
Just tested on Latest. Still same behavior as last three screenshots.

[2016-02-14 10:53] dasniko opened #56 "Show Gravatar of logged in user next to its email"
Show Gravatar of logged in user next to its email.

https://de.gravatar.com/site/implement/
http://www.deluxeblogtips.com/2010/04/get-gravatar-using-only-javascript.html
https://github.com/mazondo/gravatarjs

[2016-02-17 20:01] ascheman opened #57 "Frontend dismisses linefeeds in abstracts"
The frontend silently drops white space in abstracts, e.g.,
[509505](https://www.doag.org/konferenz/konferenzplaner/konferenzplaner_details.php?locS=0&id=499959&vid=509505) has two paragraphs, which ist not the case in DukeCon: https://dukecon.org/javaland/talk.html#talk?talkId=509505

Data as provided by DOAG back office is delivered with Windows line endings (i.e., '\r\n'). I would like to drop

[2016-02-18 12:50] sippsack commented on #57
dukecon_server now replaces \r\n with \n only
html5 client replaces \n with <br/> in abstract text only

[2016-02-18 13:17] sippsack commented on #57
@steffchep, @annam002: can you have a look at my commits. I've replaced \n with <br/>. But I had to disable html encoding to line breaks get rendered correctly. What about cross site scripting?

[2016-02-19 14:46] annam002 commented on #57
Maybe we can first html-escape the text and then insert the break tags?

[2016-02-19 16:10] ascheman commented on #8
Tests should be executed during Maven build (or GULP build?) and break the build eventually!

[2016-02-26 23:07] #56 closed, assigned to dasniko

[2016-02-28 19:51] ahus1 commented on #45
@annam002 @ascheman - this has now been fixed. I also enabled refreshing the contents on the page whenever new data from the server is fetched in the background.

[2016-02-28 19:51] #45 closed, assigned to ahus1

[2016-03-04 11:47] rgra opened #58 "Location of Fav Icon"
When I try to favorite a talk I happen to click on the link of the talk by accident far too often.

I suggest a new location for the icon further away from the link.

Client: Safari on iPhone 6.

[2016-03-05 12:27] steffchep commented on #6
No feedback, closing.

[2016-03-05 12:27] #6 closed

[2016-03-05 12:29] ahus1 commented on #8
fixed in 20bd20a78e8261a67c00da02a4cd84883ef47917 and 485ba93b68ed415efd8bdefb3ac123565655cd0f

[2016-03-05 12:29] #8 closed

[2016-03-05 12:29] ahus1 commented on #37
i suppose this is completed?

[2016-03-05 12:29] #37 closed, assigned to ascheman

[2016-03-05 12:31] ahus1 commented on #48
test are now fixed. see 20bd20a78e8261a67c00da02a4cd84883ef47917  and 485ba93b68ed415efd8bdefb3ac123565655cd0f

[2016-03-05 12:31] #48 closed, assigned to annam002

[2016-03-05 12:35] ahus1 commented on #51
Tested again, works.

[2016-03-05 12:35] #51 closed, assigned to nobody

[2016-03-05 16:34] annam002 commented on #57
I escaped potential html characters in the abstract in addition to@sippsack s changes

[2016-03-05 16:34] #57 closed, assigned to sippsack

[2016-03-07 11:34] Jessi626 opened #59 "Synchronization doesn't work as expected"
Reproduction:
- I have the website open and am logged in both on my pc and on my phone
- Mark a talk as favourite on the pc
- Refresh the page on my phone
  -> On my phone I can't see the change I just made on my pc

Logging out and in again on my phone didn't help. I had to log out and log in again on my pc, in order to be able to see the changes on my phone.

I would expect to see the changes on

[2016-03-07 11:55] annam002 commented on #59
Talked with Jessi. It was expected that synchronisation works differently. Maybe we should look into this.

[2016-03-07 15:50] annam002 commented on #41
Jo, you can leave it like this.

[2016-03-07 15:52] #41 closed, assigned to steffchep

[2016-03-07 16:29] annam002 commented on #53
Can you explain what exactly the problem is in the last three screenshots?

[2016-03-07 18:47] #58 closed, assigned to nobody

[2016-03-08 10:27] annam002 opened #60 "When going back, scroll position is not remembered"
On the latest version,  the scroll position is not remembered when going back from the details page to the talks page. On the released version,  back button has to be pressed several times before the talks page is loaded again AND the position is not remembered.
On Chrome for Android

[2016-03-09 10:36] annam002 commented on #60
I think I fixed it with https://github.com/dukecon/dukecon_html5/commit/483b7277a103b745fd3a969a33c076500353453b
The problem was that the scrolling occurred to early, namely before the page was completely rendered. Therefore, the coordinates to scroll to were not valid.

[2016-03-14 15:38] annam002 opened #61 "Talk view should have speaker twitter handles"
Speaker twitter handles are now only visible in the speaker overview. They should also be available in the talk view.

[2016-03-14 15:38] #60 closed, assigned to nobody

[2016-03-14 15:40] annam002 opened #62 "Easier going back and forth between overview and detail view"
It takes a long while now to go back and forth between the talks overview and the detail view. The reason is that the complete page is loaded. Should be improved; we could load the talk details into the talks overview page as needed. Ajax and so.

[2016-03-18 10:14] #55 closed, assigned to nobody

[2016-03-18 12:00] steffchep opened #63 "Add custom CSS in preparation for multi-conference support"

[2016-03-28 18:10] ahus1 opened #64 "Support offline tokens for HTML5 client"
... to avoid automatic logoff after single sign on session timeout.

[2016-03-28 18:11] #64 closed, assigned to nobody

[2016-03-28 18:48] ahus1 commented on #64
The refresh tokens are now re-usable for up to 30 days.
http://keycloak.github.io/docs/userguide/keycloak-server/html/timeouts.html#offline-access

[2016-03-29 19:22] ascheman opened #65 "Icon for community events"
Use https://fortawesome.github.io/Font-Awesome/icon/users/

[2016-03-29 19:36] ascheman opened #66 "Add location maps to talks"
- Re-use the maps from dukecon/dukecon_flex?
- Check out [JUG Saxony Day 2015 App](https://play.google.com/store/apps/details?id=com.ionicframework.jsdconferenceapp153643&referrer=utm_source%3DAndroidPIT%26utm_medium%3DAndroidPIT%26utm_campaign%3DAndroidPIT) - also for other nice features, e.g.,
  - own schedule quick button: just press star in top navigation
  - flip between parallel talks per ti

[2016-04-15 12:29] annam002 commented on #61
Handles added

[2016-04-15 12:42] #61 closed, assigned to annam002

[2016-06-24 11:50] steffchep opened #67 "Rename "Track" to "Stream""

[2016-06-24 11:50] steffchep opened #68 "Add Table View"

[2016-06-24 11:51] steffchep opened #69 "Add search"
should search talks.json, fields tbd (speaker, talk name, room, stream, ...)

[2016-06-24 11:52] steffchep opened #70 "Detailed Speaker Data"
wait for backend to provide the data

See https://redmine.doag.org/issues/3178
(don't rewrite layout too much; add teaser about bio to the right of speaker name in overview)

[2016-06-24 12:44] steffchep opened #71 "create a version for JFS"

[2016-07-01 08:13] steffchep opened #72 "cherry-pick changes from JFS-branch"
- customizing.txt
- other fixes
- "powered by Dukecon" (incl. less)

DO NOT INCLUDE:
- less colors/text-shadow

[2016-07-01 08:14] steffchep opened #73 "Fix offline.js and caching of talks"
For some reason, Firefox seems to always determine that it is offline. (Reproduced from inside company network; need to test this at home as well)

As a result the talks are never updated, and if they are not present, they are not loaded

[2016-07-05 17:11] steffchep opened #74 "Create Print View"

[2016-08-05 09:22] #72 closed, assigned to nobody

[2016-08-05 09:53] #71 closed, assigned to nobody

[2016-08-05 11:27] steffchep commented on #68
Currently looking into some libraries to aid us with the timeline/table view- http://visjs.org/ looks promising

[2016-10-16 13:39] steffchep opened #75 "Deal with missing language entries in talks"
- check defaultLangugage in conference object
- if no other language strings are there, use that as fallback

[2016-10-16 13:44] chrisdutz opened #76 "Detect the browser default language"
Try to detect the default locale of the current browser and if the user didn't select any.

[2016-10-16 13:46] chrisdutz opened #77 "Hide days without any talks when filtering"
If filters produce empty days it would be cool if they were hidden.

[2016-10-16 13:47] chrisdutz opened #78 "If the selected language doesn't have any resources the filters just contain boxes"
If a conference doesn't provide german resources the filters will just contain boxes without labels when using the site in german. It would be good to fallback to the language defined in "default-language" for this.

[2016-10-16 15:08] steffchep commented on #75
duplicate of #78

[2016-10-16 15:08] #75 closed, assigned to nobody

[2016-10-16 15:10] steffchep opened #79 "Multi-Conference: Icons and "conference home" link"
Conference-Home link title and URL should be part of conference meta-data
If it is not present, don't show a link at all

[2016-10-16 15:12] #63 closed, assigned to nobody

[2016-10-17 13:12] sippsack opened #80 "Ajax call init.json for detecting current conference id"
see slack chat (frontend channel) from today, 3 p. m.

[2016-10-17 13:16] sippsack opened #81 "Remove fallback conference (Javaland 2016) in production, but provide fallback for development"
so far we had only one conference to show in html5 client, the conference id was set through build process

through the new url scheme, the client can detect conference id from rest init call. so in urlprovider the hard coded conference id from build process must be removed but an fallback for development must be implemented. if conference id can not detected in production, a error page needs to b

[2016-10-31 15:09] #80 closed, assigned to nobody

[2016-11-25 12:16] #76 closed, assigned to nobody

[2016-11-25 12:55] steffchep opened #82 "Respect filters in table vierw"
Filters currently aren's supported in the table view

- read currently active filters (ignoring searchTerm)
- style menu to fold away the same way as in the mobile view

[2016-11-25 15:57] #68 closed, assigned to nobody

[2016-11-25 15:59] #69 closed, assigned to nobody

[2016-12-14 21:22] steffchep commented on #70
- bio
- image-link
- placeholder for images/default

[2016-12-14 21:25] steffchep opened #83 "Check if timetable can be easily split by days"

[2016-12-14 21:26] steffchep opened #84 "Filters: Improve Experience (was: show only rooms that are used on a given day)"
For now:
- Fold filters to make them use less space.
- look into keeping the Filter Tab visible all the time on mobile devices (i.e. fixed position)

[2016-12-21 21:08] steffchep opened #85 "Speakers are listed twice"
... usually if they have more than one talk, sometimes with differing twitter handles. Check if it is a data or a frontend problem

[2016-12-21 21:42] ascheman commented on #85
Is probably related to/caused by dukecon/dukecon_server#45?

[2017-02-01 20:55] steffchep opened #86 "Start time should be of earliest talk of any day, not very first talk"

[2017-02-03 13:56] steffchep commented on #86
As a cheaper solution, moved the default start of the time table to 7:30. First day should still start with the time of the first talk.

[2017-02-03 14:14] #86 closed, assigned to nobody

[2017-02-03 14:36] steffchep commented on #85
Closing because was fixed on the server

[2017-02-03 14:36] #85 closed, assigned to nobody

[2017-02-03 14:43] steffchep opened #87 "Redesign talk detail page"
![referentenprofil_monitor_entwurf_1_2](https://cloud.githubusercontent.com/assets/10571670/22595343/684835a2-ea27-11e6-89ba-2db6ff142b24.jpg)

[2017-02-03 14:43] steffchep commented on #87
Maybe briefer speaker info?#
What to do with multiple speakers?

[2017-02-03 16:03] #78 closed, assigned to nobody

[2017-02-03 16:18] ascheman commented on #87
Is this an open question? Should we discuss that with DOAG? Should I open a new ticket there?

[2017-02-03 16:20] ascheman opened #88 "Talk to speaker link(s)"
It would be nice if the speaker names would have a link to the respective speaker pages (if speaker info is available).

[2017-02-03 18:59] steffchep commented on #88
We won't need to have it if we implement #87 as desired by the DOAG. However, perhaps we can link rather than add the speaker infor for mobiles, at least

[2017-02-03 19:00] steffchep commented on #87
It might be somehing to ask them, I'm not sure they thought of it when they made the design, and I fear the page will be quite full if there is more than one.

[2017-02-08 21:31] steffchep opened #89 "sort names by lowercase"
names with "van" are sorted at the very end, after all the uppercase ones.
Expect them to be with the uppercase "V"s

[2017-02-08 21:32] steffchep opened #90 "Speaker list: long names bleed over the edge of the table cell"

[2017-02-15 20:49] steffchep opened #91 "Link to imprint and other"
1. See https://redmine.doag.org/issues/4039
2. link to conference home from conference data (if present)

[2017-02-16 08:23] #90 closed, assigned to nobody

[2017-02-17 12:59] #88 closed, assigned to nobody

[2017-02-17 13:41] #89 closed, assigned to nobody

[2017-02-17 13:43] steffchep opened #92 "if filter list is longer than the page, it gets cut off sometimes"
Reproduce:

- Got o talks page (JL2017)
- filter by something like "Workshot Raum Juno"
- notice that the last Room "Java Innovation Lab" is now no longer reachable

Pointers: Menu has absolute positioning and its height is ignored - so this happens whenever the talk list is shorter than the filter list.

[2017-02-17 13:48] steffchep commented on #40
Might be a non-issue if we are linking to an external imprint. Place the links somewhere else instead?

[2017-02-17 13:49] steffchep commented on #73
I'm closing this for now, I think my workplace has some issues where it keeps breaking the localstore - I've not had any trouble from firefox on my other machines

[2017-02-17 13:49] #73 closed, assigned to nobody

[2017-02-17 15:31] #70 closed, assigned to nobody

[2017-02-18 08:01] steffchep opened #93 "Firefox Appcache is deprecated"
In JS console:
"The Application Cache API (AppCache) is deprecated and will be removed at a future date.  Please consider using ServiceWorker for offline support."

More info: https://www.fxsitecompat.com/en-CA/docs/2016/application-cache-support-will-be-removed/

[2017-02-18 09:09] steffchep commented on #87
Still open:
- decide if speaker info should be hidden (if there is nothing new to show)
- strategy for mobile (don't generate speaker details in view model if screen size too small)
- re-style talk part as per screenshot (?)

[2017-02-20 07:25] steffchep commented on #87
TODO/Story Bugs:
- bug: links in "more talks" all point to current talk -- DONE
- improvement: mobile view with foldable abstract and bio

[2017-02-22 20:52] steffchep opened #94 "Quick-Fix: don't show favorite button in time table"
... because it does not work

For now, simply hide the button via css

[2017-02-22 20:52] steffchep opened #95 "Favorite selection does not work in Time table"
Knockout-click events don't get registered

[2017-02-22 20:58] steffchep opened #96 "Show Talk language in talk details and list"
Language is already returned and should not be a problem
Simultaneous translation is not supported by our backend yet

[2017-02-22 21:02] steffchep commented on #96
See https://redmine.doag.org/issues/4083

[2017-02-22 21:08] steffchep commented on #65
Closing this, as we will be handling icons differently in an upcoming version

[2017-02-22 21:08] #65 closed, assigned to nobody

[2017-02-22 21:45] sippsack commented on #79
examples from javaland 2016, urls in dukecon-server:

https://dev.dukecon.org/latest/public/img/499959/conference/logo.png
https://dev.dukecon.org/latest/public/img/499959/languages/1.png
https://dev.dukecon.org/latest/public/img/499959/streams/1.jpg

[2017-02-22 21:45] #94 closed, assigned to nobody

[2017-02-25 12:50] ascheman opened #97 "Multiple conferences on same server URL have cache conflict"
If we have a problem with multiple conferences on the same server URL, e.g.,

* https://programm.doag.org/apex/2017/ and
* https://programm.doag.org/doag/2016/

They both are stored in the same local/indexed db and one cannot switch from one to the other without cleaning up the cache. After cleaning up the cache the other conference can be loaded.

[2017-03-03 07:10] steffchep commented on #96
also see https://github.com/dukecon/dukecon_server/issues/50

[2017-03-03 13:23] steffchep opened #98 "Site does not work on IE or Edge"
reason (probably) see here:
http://stackoverflow.com/questions/16859057/how-can-i-find-out-what-causes-appcache-fatal-error-on-ie10

I doubt we have 1000 items in the manifest, but it could well be over 50 mb

[2017-03-03 14:21] #92 closed, assigned to nobody

[2017-03-03 14:46] steffchep commented on #84
Alternatively, add folding to filters to save some space

[2017-03-04 22:10] steffchep commented on #98
It turns our this is only on localhost; so closing this.

[2017-03-04 22:10] #98 closed, assigned to nobody

[2017-03-10 07:07] steffchep commented on #97
Looks good now!

[2017-03-10 07:07] #97 closed, assigned to steffchep

[2017-03-11 07:21] steffchep opened #99 "Show "ausgebucht/fully booked" and "popular" for talks"

[2017-03-12 09:11] #96 closed, assigned to steffchep

[2017-03-13 15:03] kirviq opened #100 "transfer favorites to phone"
It would be nice if you could pick your favorites on a pc, export them to a QR code and import this on a phone. (or transfer in any other way)

[2017-03-13 15:22] steffchep commented on #100
Use case: I do not want to register with the DOAG, or my registration confirmation has not arrived yet.

[2017-03-15 20:20] ascheman opened #101 "Try easy offline apps"
We should consider setting up the frontend build with npm or yarn and consider

  https://dev.to/kayis/easy-offline-first-apps-with-webpacks-offline-plugin

BUT NOT BEFORE Javaland 2017!

[2017-03-17 09:22] steffchep opened #102 "Keycloak issues after move to DOAG accounts"
When logged in, user name is not shown anymore

[2017-03-17 09:26] steffchep commented on #102
In addition, when navigating to a new page on the planner, the lock is open again, and you have to click it to be signed in again - probably something goes wrong with the keycloak-redirect

**_edit_** not always reproducible, appears to happen when Firefox's localStore returns NS_ERROR_FILE_CORRUPTED (which is an FF issue)

[2017-03-17 09:29] steffchep commented on #102
https://programm.javaland.eu/auth/realms/javaland/account --> 404

[2017-03-17 09:45] steffchep commented on #99
field names: fullyBooked, numberOfFavorites, room: capacity

[2017-03-17 12:51] steffchep commented on #91
Links are now hardwired for Javaland, so removing the "urgent" for now.

[2017-03-17 15:34] steffchep commented on #102
Pushed a workaround - not sure why the accounts are not available

[2017-03-17 15:35] steffchep commented on #79
Removing "urgent" for now - we should look at this soonish after Javaland

[2017-03-17 15:40] steffchep commented on #40
Closing; we don't have control over the imprint page anymore.

[2017-03-17 15:40] #40 closed, assigned to nobody

[2017-03-17 15:43] steffchep commented on #53
I've looked at the site on an iPhone 6Plus, iOS10 and it seems to look okay. (the Cookie disclaimer is still missing a few pixels but that's not a dealbreaker - it will likely be removed entirely soon)
Closing for now.

[2017-03-17 15:43] #53 closed, assigned to nobody

[2017-03-18 16:29] steffchep commented on #99
Waiting for some feedback if the display is acceptable

[2017-03-18 16:29] steffchep commented on #39
I guess since we no longer use social media for KC login, this is no longer an issue. Closing.

[2017-03-18 16:29] #39 closed, assigned to nobody

[2017-03-20 15:00] steffchep commented on #99
all implemented; if the display is satisfactory, then we can close this

[2017-03-26 21:40] steffchep opened #103 "Url with search term is broken"
https://latest.dukecon.org/javaland/2017/?search=Falk

expected: search results for "Falk" appear immediately
actual: all talks are shown

[2017-03-26 21:41] #99 closed, assigned to nobody

[2017-03-26 22:46] steffchep commented on #103
Possibly fixed with this push; test some more

[2017-04-13 12:07] steffchep commented on #103
Nope, still broken (particularly on slow devices)

[2017-05-27 10:33] steffchep opened #104 "disable/enable keycloak based on init.json"
waiting for https://github.com/dukecon/dukecon_server/issues/54

[2017-05-27 10:39] steffchep opened #105 "link to favicon from backend"
see https://github.com/dukecon/dukecon_server/issues/55

[2017-05-27 10:41] steffchep commented on #83
We're currently not touching the timetable anymore

[2017-05-27 10:41] #83 closed, assigned to nobody

[2017-05-27 11:42] #67 closed, assigned to nobody

[2017-05-27 12:17] steffchep opened #106 "prevent init.json from being called multiple times on first load"
Problem: login and header widget as well as dukecon and offline modules all call urlprovider.getData. With bad timing this can lead to 4 server requests (at most).

Try something like here, perhaps:

https://stackoverflow.com/questions/29595179/prevent-multiple-ajax-calls-to-the-same-url-within-timeframe

[2017-05-27 12:26] steffchep opened #107 "prevent frequent page reloads due to favorites/room reservation updates"

[2017-05-27 13:07] #104 closed, assigned to nobody

[2017-05-27 13:20] steffchep commented on #91
imprint : {
            'de' : 'http://',
            'en' : 'http://'
        },
        termsOfUse : {
            'de' : 'http://',
            'en' : 'http://'
        },
        privacy : {
            'de' : 'http://',
            'en' : 'http://'
        },

[2017-05-27 16:56] janwesterkamp commented on #91
server side feature added.

[2017-05-29 05:02] steffchep opened #108 "Fix search bar placement on wider logos"

[2017-05-29 08:12] #91 closed, assigned to steffchep

[2017-05-29 14:03] #108 closed, assigned to nobody

[2017-06-09 05:44] steffchep commented on #79
Reopening; we still need the track icons

[2017-06-15 11:20] ascheman opened #109 "Run html5 client as separate Docker container"
Currently the frontend is delivered by including it into the backend as war overlay. This leads to a very long delivery process:
* build/test/release frontend first,
* build/test/release backend then,
* restart backend with frontend included finally as Docker container

In particular in phases where we have mostly frontend changes this takes too much time. We should improve it by separating both p

[2017-07-05 14:48] #79 closed, assigned to steffchep

[2017-08-01 19:10] ascheman opened #110 "Client should store image-resources"
The client loads some image-resources (stream icons, conference logo, sometimes even speaker data) via rest/image-resources.json. The data should be stored into the indexdb and it should be checked every now and then if they have changed as we do with the talk data).

[2017-08-04 07:52] #105 closed, assigned to nobody

[2017-08-11 07:23] ascheman opened #111 "Link to KC account mgmt not effectively switched off"
In the current DOAG test environment (link via Slack) we see the following behaviour: Though `/rest/keycloak.json` contains the following property `"useAccountManagement":"false"` there is a link to the KeyCloak account management published in the UI:
![dukecon-doag-test-error-account-mgmt-1](https://user-images.githubusercontent.com/456000/29204292-73b3da34-7e76-11e7-851c-44164829da95.PNG)

This

[2017-08-11 07:38] ascheman commented on #111
This was due to a wrong KeyCloak setting (Account management client needs to be disabled). What is the purpose of the `useAccountManagement` property then?

[2017-08-11 07:41] ascheman opened #112 "Logoff should delete all local favorites"
When a user logs out of DukeCon HTML5 all favorites should be deleted. Otherwise there is always a conflict between local favorites and remote favorites. If a user logs in the remote favorites should override the possible local ones.

Open question: How do we handle local favorites which were set when the user was offline?

[2017-08-11 20:21] ahus1 commented on #110
Made a first attempt to fix the HTML so it doesn't load the resource multiple times

[2017-09-19 06:17] ascheman opened #113 "Backend-Errors should be handled in UI (4xx from REST-Calls)"
If the backend returns an error (e.g., after an unsuccesful attempt to store preferences) the HTTP status code (e.g., 403) should be handled and an error should be displayed to the user.

[2017-09-25 06:45] steffchep opened #114 "Schedule is broken"
Multiple copies of the schedule are displayed
![2017-dukecon-schedule](https://user-images.githubusercontent.com/10571670/30795453-ea0b037c-a1cd-11e7-8143-f130f04cb379.png)

[2017-09-29 11:52] steffchep commented on #114
Quick fix works, but still need to find out the root cause

[2017-09-29 13:13] steffchep opened #115 "Hamburger Menu missing on mobile phone portrait"
See screenshot. Using the same resolution (360px) on a PC browser works oddly enough
![screenshot_20170929-134523](https://user-images.githubusercontent.com/10571670/31017455-ced5c782-a528-11e7-80a9-914fcd3a7a37.png)

[2017-09-29 20:47] #115 closed, assigned to nobody

[2017-10-18 10:00] sippsack opened #116 "Show slides and additional documents for each talk"
https://redmine.doag.org/issues/4402

server implementation is already done: https://github.com/dukecon/dukecon_server/issues/70

[2017-10-21 14:08] steffchep commented on #116
If not needed urgently, we don't need to add it to the old html5 app.

[2017-10-21 14:12] steffchep commented on #114
Won't fix any further in old version

[2017-10-21 14:12] #114 closed, assigned to nobody

[2017-10-21 14:12] ahus1 commented on #112
Won't fix - with the mechanism in the pwa client (merge only differences) this is no longer necessary.

[2017-10-21 14:12] #112 closed, assigned to nobody

[2017-10-21 14:13] ahus1 commented on #110
Works good enough in old client, works better in new pwa client.

[2017-10-21 14:13] #110 closed, assigned to nobody

[2017-10-21 14:14] ahus1 commented on #106
this is fixed in the PWA client.

[2017-10-21 14:14] #106 closed, assigned to nobody

[2017-10-21 14:15] steffchep commented on #111
It was introduced to toggle whether or not the app should create a link to keycloak account management. The PWA App no longer uses this.

[2017-10-21 14:15] #111 closed, assigned to nobody

[2017-10-21 14:17] steffchep commented on #107
won't fix; all is better with PWA :)

[2017-10-21 14:17] #107 closed, assigned to nobody

[2017-10-21 14:18] steffchep commented on #103
Won't fix, will be done with PWA

[2017-10-21 14:18] #103 closed, assigned to nobody

[2017-10-21 14:18] steffchep commented on #95
won't fix in html5 project, see PWA

[2017-10-21 14:18] #95 closed, assigned to nobody

[2017-10-21 14:19] ahus1 commented on #93
no longer in use with PWA.

[2017-10-21 14:19] #93 closed, assigned to nobody

[2017-10-21 14:19] #87 closed, assigned to steffchep

[2017-10-21 14:20] steffchep commented on #62
Won't fix, all better with PWA

[2017-10-21 14:20] #62 closed, assigned to nobody

[2017-10-21 14:21] ahus1 commented on #59
Syncing of favorites was improved in the PWA; favorites are properly merged and refreshed on reload.

[2017-10-21 14:21] #59 closed, assigned to nobody

[2017-11-03 21:49] ahus1 commented on #101
implemented by dukecon PWA template already.

[2017-11-03 21:49] #101 closed, assigned to nobody

[2017-11-03 21:52] ahus1 commented on #113
will only be tracked in new project

[2017-11-03 21:52] #113 closed, assigned to nobody

[2017-12-02 11:49] ahus1 commented on #116
will be implemented only in new app.

[2017-12-02 11:49] #116 closed, assigned to steffchep

[2018-03-16 23:05] ascheman commented on #109
Obsolete

[2018-03-16 23:05] #109 closed, assigned to nobody

[2018-03-16 23:07] ascheman commented on #100
This issue was moved to dukecon/dukecon_pwa#57

[2018-03-16 23:07] #100 closed, assigned to nobody

[2018-03-25 19:32] ahus1 commented on #54
This issue was moved to dukecon/dukecon_pwa#64

[2018-03-25 19:32] #54 closed, assigned to nobody

[2018-03-25 19:33] ahus1 commented on #66
This issue was moved to dukecon/dukecon_pwa#65

[2018-03-25 19:33] #66 closed, assigned to nobody

[2018-03-25 19:33] ahus1 commented on #74
This issue was moved to dukecon/dukecon_pwa#66

[2018-03-25 19:33] #74 closed, assigned to nobody

[2018-03-25 19:37] ahus1 commented on #77
The filter view doen't display days any more, therefore I close this.

[2018-03-25 19:37] #77 closed, assigned to nobody

[2018-03-25 19:38] ahus1 commented on #102
Username is shown when overing over "logged in"

[2018-03-25 19:38] #102 closed, assigned to nobody

[2018-03-25 19:39] ahus1 commented on #14
closed, unrealistic/won't happen.

[2018-03-25 19:39] #14 closed

[2018-03-25 19:41] ahus1 commented on #84
From a UX perspective this doesn't seem possible - how would a user understand that the listed rooms change depending on the selected day?

A similar thing will be implemented by https://github.com/dukecon/dukecon_pwa/issues/60 that will hide categories that are not used by the current conference.

[2018-03-25 19:41] #84 closed, assigned to nobody